<?xml version="1.0"?>

<model>
  <name>bugbot</name>
  <version>1.0</version>
  <sdf version="1.6">bugbot.sdf</sdf>

  <author>
    <name>tanmay</name>
    <email>tanmay.dn@gmail.com</email>
  </author>

  <description>
    A simple depth camera with a box for visualization.
  </description>
</model>
